argh==0.28.1
asgiref==3.7.2
colorama==0.4.6 
Django==4.2.3
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.6
exceptiongroup==1.1.2
inflection==0.5.1
iniconfig==2.0.0
mysqlclient==2.2.0
packaging==23.1
pip==23.1.2
pluggy==1.2.0
PyDispatcher==2.0.7
PyJWT==1.7.1
pytest==7.4.0
pytz==2023.3
PyYAML==6.0
setuptools==8.1.0
sqlparse==0.4.4
tomli==2.0.1
tool==0.8.0
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
